.slider{
    -fx-background-color:rgb(35, 34, 34);
}
.slider .track {
    -fx-background-color: rgb(146, 134, 134);  /* Your desired color for the track */
}
.slider .thumb {
    -fx-background-color: rgb(100, 100, 100);  /* Your desired color for the thumb */
}
.slider .fill {
    -fx-background-color: rgb(100, 109, 100);  /* Your desired color for the fill */
}
.button {
    -fx-background-color: rgb(77, 77, 77);
    -fx-border-color: rgb(250, 250, 250);
    -fx-border-radius: 15;
    -fx-background-radius:15;
  

}
Button.button:hover {
    -fx-background-color: rgb(255, 255, 255);
   -fx-border-color: rgb(0, 0, 0);
   -fx-text-fill:rgb(0, 0, 0);
   -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    /* This defines the duration for the hover transition */
    -fx-transition: scale-x 0.8s, scale-y 0.8s;


   

   
}

